
/* CUSTOM-PROPS */
:root {
  --accent-color: #878787;
  --bg-color: #ffffff;
  --body-color: #FaFaFa;
  --text-color: #111517;
  --color-shadow: rgba(0, 0, 0, 0.0532);
}

/* FONT-FACE  */
@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/") format("woff2"),
      url("../fonts/NunitoSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/NunitoSans-Regular.woff2") format("woff2"),
      url("../fonts/NunitoSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/NunitoSans-SemiBold.woff2") format("woff2"),
      url("../fonts/NunitoSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* GLOBAL-STYLES  */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
  color: var(--text-color);
  font-family: "Nunito Sans","Arial", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}


/* FOCUS-STYLES  */
*:focus {
  outline: 2px dashed var(--accent-color);
  outline-offset: 3px;
}

/* CONTAINER  */
.container {
  max-width: 1380px;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}


/* VISUALLY-HIDDEN  */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* HEADER */
.site-header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}
.site-heading{
  margin: 0;
  font-size: 24px;
  font-weight: 800;
  line-height: auto;
}
.header-btn::before{
  display: flex;
  align-items: center;
  background-image:url(../img/Path.svg);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  content: "";
  position: absolute;
  left: -18px;
}
.header-btn{
  position: relative;
  font-family: "Nunito sans", "serif";
  border: none;
  background: transparent;
  color: var(--text-color);
  font-weight: 600;
  font-size: 16px;
  line-height: normal;
  cursor: pointer;
  transition: color 0.3s ease,
  opacity 0.3s ease;
}
.header-btn:hover{
  color:var(--accent-color);
}
.header-btn:active{
  opacity: 0.6;
}


/* MAIN-CONTENT  */
.main-content {
  flex-grow: 1;
  background-color: var(--body-color);
}
.search-form{
  padding-top: 48px;
  padding-bottom: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.input-devider::before{
  background-image: url(../img/icon-search-black.svg);
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 68px;
  margin-left: 32px;
  margin-right: 25px;
  content:""
}
.search-input{
  max-width: 400px;
  min-height: 56px;
  padding: 18px 65px;
  border: none;
  font-size: 14px;
  line-height: 20px;
  font-family: "Nunito Sans",serif;
  font-weight: 400;
  color: var(--accent-color);
  border-radius: 5px;
  box-shadow: 0px 2px 9px 0px var(--color-shadow);
}
.filter{
  width: 200px;
  height: 56px;
  border: transparent;
  border-radius: 5px;
  padding-left: 24px;
  color: var(--text-color);
  font-family: "Nunito Sans",serif;
  box-shadow: 0px 2px 9px 0px var(--color-shadow);
}

.grid{
  display: grid;
  grid-template-areas: "card card card card";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 75px;
}
.countries{
  box-sizing: border-box;
  background-color: var(--bg-color);
  max-width: 336px;
  min-height: 264px;
}
.flags-img{
  display: block;
}
.country{
  padding-top: 24px;
  padding-left: 24px;
  margin-bottom: 46px;
}
.country-title{
  margin: 0;
  margin-bottom: 16px;
}
.country-link{
  text-decoration: none;
  font-size: 18px;
  line-height: 26px;
  font-weight: 800;
  color: var(--text-color);
  font-family: "Nunito Sans", serif;
  transition: color 0.3s ease,
  opacity 0.3s ease;
}
.country-link:hover{
  color: var(--accent-color);
}
.country-link:active{
  opacity: 0.6;
}
.country-list{
  font-family: "Nunito Sans", serif;
  color:var(--text-color);
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  margin: 0;
}
.country-list-item{
  font-weight: 600;
  margin: 0;
  margin-right: 5px;
}
.country-list-type{
  font-weight: 300;
}
